body {
  background: #fafafa;
}

@font-face {
  font-family: 'HUGEAvantGardeBold';
  src: url("fonts/HUGE/huge_agb_v5-webfont.eot?");
  src: url("fonts/HUGE/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/HUGE/huge_agb_v5-webfont.svg#svgFontName") format("svg")
}

@font-face {
  font-family: 'adineue-bold';
  src: url("fonts/ADINEUE/adineue-bold-webfont.eot?");
  src: url("fonts/ADINEUE/adineue-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ADINEUE/adineue-bold-webfont.woff") format("woff"), url("fonts/ADINEUE/adineue-bold-webfont.ttf") format("truetype"), url("fonts/ADINEUE/adineue-bold-webfont.svg#svgFontName") format("svg")
}

.weather-icon {
  height: 100px;
}

#quick-view {
  color: white;
  font-size: 3em;
  font-size: calc(1em + 8vw);
  margin: .4em 0 .2em 0;
  text-shadow: .25rem .25rem 0 rgba(#000000, .75);
}

#quick-view div {
  display: inline;
}


/* Show/hide classes to toggle imperial and metric values */

.show {
  display: inline-table;
}

.hide {
  display: none;
}

.form-group {
  padding-bottom: 1em;
}

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #000000;
  color: #000000;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.paddingButton2 {
  padding-left: 1em;
}

.city {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.temp {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.maxMin {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.forecast {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.imageWeather {
  height: 100px;
  padding-left: 40%;
}

button:hover {
  color: white;
  background: #000000;
}

button:active {
  letter-spacing: 2px;
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
  animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: "";
}

.onclic:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}

.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "adineue-bold";
  margin-top: 0px;
}

h3 {
  font-family: "adineue-bold";
  text-align: center;
}

.panel-title {
  padding-top: 1em;
}

label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#submit {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.fullmenu {
  height: 77px;
}

#weather {
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before {
  content: ":";
}

.icon-1:before {
  content: "p";
}

.icon-2:before {
  content: "S";
}

.icon-3:before {
  content: "Q";
}

.icon-4:before {
  content: "S";
}

.icon-5:before {
  content: "W";
}

.icon-6:before {
  content: "W";
}

.icon-7:before {
  content: "W";
}

.icon-8:before {
  content: "W";
}

.icon-9:before {
  content: "I";
}

.icon-10:before {
  content: "W";
}

.icon-11:before {
  content: "I";
}

.icon-12:before {
  content: "I";
}

.icon-13:before {
  content: "I";
}

.icon-14:before {
  content: "I";
}

.icon-15:before {
  content: "W";
}

.icon-16:before {
  content: "I";
}

.icon-17:before {
  content: "W";
}

.icon-18:before {
  content: "U";
}

.icon-19:before {
  content: "Z";
}

.icon-20:before {
  content: "Z";
}

.icon-21:before {
  content: "Z";
}

.icon-22:before {
  content: "Z";
}

.icon-23:before {
  content: "Z";
}

.icon-24:before {
  content: "E";
}

.icon-25:before {
  content: "E";
}

.icon-26:before {
  content: "3";
}

.icon-27:before {
  content: "a";
}

.icon-28:before {
  content: "A";
}

.icon-29:before {
  content: "a";
}

.icon-30:before {
  content: "A";
}

.icon-31:before {
  content: "6";
}

.icon-32:before {
  content: "1";
}

.icon-33:before {
  content: "6";
}

.icon-34:before {
  content: "1";
}

.icon-35:before {
  content: "W";
}

.icon-36:before {
  content: "1";
}

.icon-37:before {
  content: "S";
}

.icon-38:before {
  content: "S";
}

.icon-39:before {
  content: "S";
}

.icon-40:before {
  content: "M";
}

.icon-41:before {
  content: "W";
}

.icon-42:before {
  content: "I";
}

.icon-43:before {
  content: "W";
}

.icon-44:before {
  content: "a";
}

.icon-45:before {
  content: "S";
}

.icon-46:before {
  content: "U";
}

.icon-47:before {
  content: "S";
}

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255, 255, 255, 0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

.date {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .0975);
  border-radius: 10px;
}

#timer {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .0975);
  border-radius: 10px;
  height: 250px;
}

#buttons {
  padding-left: 15px;
}

div#display{
  font-size: 25px;
  padding-left: 20px;
}

.weather {
  background-color: #ffffff;
  margin-top: 20px;
  padding-left: 15px;
  border: 1px solid rgba(0, 0, 0, .0975);
  border-radius: 10px;
  height: 250px;
}

.progress {
  margin-top: 20px;
  background-color: #ffffff;
  width: 315px;
  border: 1px solid rgba(0, 0, 0, .0975);
  border-radius: 10px;
}

fieldset {
  border-style: none;
}

p {
  margin-top: 0;
}

.home {
  right: 1400px;
  margin-top: 1em;
}

.navLogo {
  padding-top: 10px;
  height: 30px;
  padding-left: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 250px;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  width: auto;
  /*keeps logo to scale, see height to change size*/
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  height: 60px;
  max-width: 1100px;
}

#map-canvas {
  height: 500px;
  margin-top: 20px;
}


/*logoShrink is the class controlling the style of the logo after scrolling*/

.logoShrink {
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  width: auto;
  /*keeps logo to scale, see height to change size*/
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  height: 36px;
}

.nameTag {
  left: 320px;
  position: absolute;
  padding: auto 0;
  letter-spacing: -1px;
  font-family: "adineue-bold";
  top: 25px;
  font-size: 32px;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  width: auto;
  /*keeps logo to scale, see height to change size*/
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
}

.docs {
  text-decoration: none;
  color: #c7c7c7;
  margin-right: 0.25em;
  font-family: "adineue-bold";
  font-size: 12px;
}

.copyright {
  color: #c7c7c7;
  font-family: "adineue-bold";
  font-size: 12px;
  text-transform: uppercase;
}

.bottom {
  display: inline-block;
  text-align: left;
  padding-left: none !important;
}

th {
  border-right: 1px solid rgba(0, 0, 0, .0975);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

td {
  border-right: 1px solid rgba(0, 0, 0, .0975);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}


/*==================================
NAV BLOCK AND ALL ITS LINK STYLES
==================================*/

nav {
  display: inline-block;
  padding-right: 250px;
  text-align: right;
  z-index: 99;
  top: 0;
  left: 0;
  font-size: 1em;
  background-color: #ffffff;
  width: 100%;
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  height: 77px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

.navShrink {
  transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  -moz-transition: height 1s ease;
  height: 52px;
}

nav li {
  list-style: none;
  display: inline-block;
  transition: padding 1s ease;
  -webkit-transition: padding 1s ease;
  -o-transition: padding 1s ease;
  -moz-transition: padding 1s ease;
  height: 100%;
  cursor: pointer;
  font-family: "adineue-bold";
}

nav li a {
  text-decoration: none;
  right: 3000px;
  color: #000;
}

nav li a:hover {
  color: hotpink;
  text-decoration: none;
}

.active {
  color: #6600CC;
}


/*******DROPDOWN styles*/

.dropdown {
  display: none;
  position: absolute;
  top: 100px;
  text-align: left;
  width: 180px;
  font-size: 0.9em;
}

.dropdown ul {
  background: #000;
}

.dropdown li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #666;
  width: 100%;
}

.dropdown li:hover {
  background: #222;
}

.dropdown li a {
  text-decoration: none;
  font-size: 0.9em;
  color: #666;
}

.dropdown li a:hover {
  color: #0099CC;
}

.menu-icon,
.exit {
  /*only in small screen*/
  display: none;
}

.linksCenter {
  top: 0px;
}


/*style applied to position links on scroll*/

.keepCenter {
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  width: auto;
  /*keeps logo to scale, see height to change size*/
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  height: 20px;
  padding-top: 0px;
}

.nameTagShrink {
  color: white;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}


/*if the bottom padding gets too small the dropdowns will become very touchy*/

/*****SLIDER BAR****/

.slider.slider-horizontal{
  width:400px; /* sample value - set it as you like*/
}

#slider {
  padding-left: 40px;
}